__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
*.whl
*.log
*.sqlite3
*.db
*.DS_Store
*.env
*.venv
*.pytest_cache/
*.coverage
*.mypy_cache/
*.pytest_cache/
.cursorrules
.ipynb_checkpoints/
task/